<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<section class="success">
    <div class="container">
        <div class="row text-center">
            <br><br>
            <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:#8800E3">Tudo certo!</h2>
            <img width="150"src="https://cdn.dribbble.com/users/129972/screenshots/3964116/75_smile.gif">
            <h3>Aguarde que logo entraremos em contato.</h3>
            <p style="font-size:20px;color:#8800E3;">Obrigado pelo interesse em se junta a nossa equipe!</p>
            <a href="/" style="background-color: #8800E3;background-border: #8800E3; color: white" class="btn">     Voltar para o inicio      </a>
            <br><br>
            </div>
        </div>
    </div>
</section>