{% load static %}

<footer role="banner">
  <div class="container">
    <div class="final-footer text-center">
      <div class="col-xs-12">
        <img style="-webkit-filter: grayscale(100%);" width="150px" src="{% static 'images/pyrocode-logo.png' %}" alt="">
      </div>
      <div class="col-xs-12">
        <p>
          © <span id="footer-year">2019</span> Pyrocode Software -
        </p>
        <p>Entre em contato conosco em: <a
            href="mailto:contact.pyrocode@gmail.com"><u>contact.pyrocode@gmail.com</u></a></p>
      </div>
    </div>
  </div>
</footer>
