<nav class="navbar fixed-top navbar-expand-lg navbar-dark mybg-dark navbar-shrink">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <h3 class="my-heading ">pyrocode</h3>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="fa fa-bars mfa-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="text nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="text nav-link" href="#overview">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="text nav-link" href="#team">Equipe</a>
        </li>
        <li class="nav-item">
          <a class="text nav-link" href="/vagas">Vagas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
