{% extends "core/template.html" %}
{% load static %}

{% block content %}
<section class="intro">
  <header style="background-image: url('https://backlog.com/wp-blog-app/uploads/2018/11/Backlog-Program-vs-Project-Manager-680x450.png')" class="container">
    <div class="headline">
      <!-- <h1 style="color: rgb(87, 49, 87); text-shadow: gray 1px 1px 0;">Carreiras</h1>
      <h3 style="color: rgb(87, 49, 87); text-shadow: gray 1px 1px 0;">Venha fazer parte de nosso time</h3> -->
    </div>
  </header>
</section>

<section class="career">
  <div class="container">
    <div class="open-roles-item">
      <div class="cta-career">
        <div class="container-fluid">
          <h1>Gerente de Projetos</h1>
          <p>&nbsp;</p>

          <p>Todos aqui na Pyrocode trabalham para entregar qualidade em todas as etapas dos projetos dos nossos
            clientes.
            Acreditamos que a única forma de fazer softwares bons, é gerando o melhor ambiente possível para que
            desenvolvedores e designers possam focar em seu trabalho.&nbsp;</p>

          <p><strong>Porque escolher a Pyrocode:</strong></p>

          <ul>
            <li>► Trabalhar em uma empresa menor te dá liberdade de ter contato direto com o usuário e maior&nbsp;poder
              nas decisões que irão impactar o futuro&nbsp;do projeto;</li>
            <li>► Trabalhar em projetos empolgantes, com desafios que evoluem a cada sprint junto com suas entregas;</li>
            <li>► Focamos em crescimento pessoal.&nbsp;Bancamos&nbsp;qualquer treinamento que você queira e incentivamos
              financeiramente a produção de blogposts, palestras e contribuições open-source.</li>
          </ul>

          <p><strong>Requisitos:</strong></p>

          <ul>
            <li>► Pelo menos 4 anos de experiência com gerente de projeto;</li>
            <li>► Apresentar alta capacidade de liderança e habilidade na gestão de equipes;</li>
            <li>► Tenha facilidade de relacionamento e habilidade para discutir pontos com técnicos;</li>
            <li>► Boa comunicação escrita e falada;</li>
            <li>► Experiência com times de desenvolvimento ágil;</li>
            <li>► Bom domínio de Inglês, em escrita e conversação;</li>
            <li>► Trabalho presencial em Cajazeiras/PB.</li>
          </ul>

          <p><strong>Bonus:</strong></p>

          <ul>
            <li>► Conhecimento de métodos ágeis de desenvolvimento.</li>
            <li>► Contribuições open-source;</li>
          </ul>

          <p><strong>Benefícios:</strong></p>

          <ul>
            <li>► Vale alimentação e combustível;</li>
            <li>► Plano de saúde;</li>
            <li>► Plano odontológico;</li>
            <li>► Pagamento de passagens, estadia, ingresso, e bônus adicional de em caso de aprovação de palestra em
              conferências;</li>
            <li>► Alimentação no escritório (lanches, incluindo frutas).</li>
          </ul>

          <p>&nbsp;</p>

          <p class="cta-career-box">
            <a style="border: purple;" class="cta-career-btn" href="#quero">CANDIDATE-SE AGORA</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
