{% extends "core/template.html" %}
{% load static %}

{% block content %}
  <section class="intro">
		<header class="container">
			<div class="headline">
				<h1 style="color: rgb(43, 43, 43);" >Carreiras</h1>
				<h3 style="color: rgb(43, 43, 43);" >Venha fazer parte de nosso time</h3>
			</div>
		</header>
	</section>

	<section class="career">
		<div class="container">
			<div class="highlight">
				<div class="title row">
					<div class="col-md-5">
						<h3>As pessoas são significativas</h3>
						<br>
						<h2>
							<img width="100%" src="{% static 'images/bg-new.png' %}" alt="">
						</h2>
					</div>
					<div class="col-md-offset-1 col-md-6">
						<p>Acreditamos que as pessoas são a variável mais importante na engenharia de software. Nossa
							cultura é horizontal e focada no auto-aperfeiçoamento, com comunicação aberta no centro de
							nosso processo.</p>
						<p>Quer trabalhar com pessoas incríveis, e criar produtos de ponta para as melhores empresas e
							ainda contribuir para as comunidades de código aberto? Então a <b>Pyrocode</b> é o lugar
							perfeito para você!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="career">
		<div class="container">
			<h3>Vagas abertas</h3>
		</div>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90 ">
					<section class="details-card">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="card-content">
										<div class="card-img">
											<img src="{% static 'images/developer.jpg' %}" alt="">
										</div>
										<div class="card-desc">
											<span>
												<h3 style="color: #827ffe">Developer</h3>
											</span>
											<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
												voluptatum! Dolor quo, perspiciatis
												voluptas totam</p>
											<a href="#" class="btn-card">Mais informações</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card-content">
										<div class="card-img">
											<img src="{% static 'images/marketing.jpg' %}" alt="">
										</div>
										<div class="card-desc">
											<span>
												<h3 style="color: #827ffe">Marketing</h3>
											</span>
											<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
												voluptatum! Dolor quo, perspiciatis
												voluptas totam</p>
											<a href="#" class="btn-card">Mais informações</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card-content">
										<div class="card-img">
											<img src="{% static 'images/ux-design.jpg' %}" alt="">
										</div>
										<div class="card-desc">
											<span>
												<h3 style="color: #827ffe">UX Designer</h3>
											</span>
											<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
												voluptatum! Dolor quo, perspiciatis
												voluptas totam</p>
											<a href="#" class="btn-card">Mais informações</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="details-card">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<div class="card-content">
										<div class="card-img">
											<img src="{% static 'images/project-manager.jpg' %}" alt="">
										</div>
										<div class="card-desc">
											<span>
												<h3 style="color: #827ffe">Gerente de Projetos</h3>
											</span>
											<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
												voluptatum! Dolor quo, perspiciatis
												voluptas totam</p>
											<a href="#" class="btn-card">Mais informações</a>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card-content">
										<div class="card-img">
											<img src="{% static 'images/design.jpg' %}" alt="">
										</div>
										<div class="card-desc">
											<span>
												<h3 style="color: #827ffe">Designer</h3>
											</span>
											<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam,
												voluptatum! Dolor quo, perspiciatis
												voluptas totam</p>
											<a href="#" class="btn-card">Mais informações</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
