{% extends "core/template.html" %}
{% load static %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form method="POST" action="#" class="login100-form validate-form flex-sb flex-w">
                <div>
                    <!-- <img width="50%" height="50%" class="rounded float-left" src="https://www.shareicon.net/data/512x512/2015/10/28/663316_resume_512x512.png" alt=""> -->
                </div>
                <span class="login100-form-title p-b-51">
                    Login
                </span>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Email é obrigatório">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Senha é obrigatória">
                    <input class="input100" type="password" name="senha" placeholder="Senha">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <input class="login100-form-btn" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div id="dropDownSelect1"></div> -->
{% endblock %}